/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #F4D35E, #71c7a6);
  }
  
  /* Container */
  .container {
    display: flex;
    width: 800px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Sign In Section */
  .signin{
    flex: 1;
    padding: 40px;
    text-align: center;
  }

  .signup
  {
    flex: 1;
    padding: 40px;
    text-align: center;
    padding-top: 15%;
  }
  
  .signin {
    background: white;
  }
  
  .signup {
    background: #19647E;
    color: white;
  }
  
  /* Social buttons */
  .social-buttons {
    margin-bottom: 20px;
  }
  
  .social-btn {
    border: none;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #F4D35E;
    cursor: pointer;
    font-weight: bold;
    color: #1F271B;
    transition: all 0.3s ease;
  }
  
  .social-btn:hover {
    background: #EE964B;
    color: white;
  }
  
  /* Form inputs */
  form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Buttons */
  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  /* Sign In button */
  .signin-btn {
    background: #EE964B;
    color: white;
  }
  
  .signin-btn:hover {
    background: #28AFB0;
  }
  
  /* Sign Up button */
  .signup-btn {
    background: white;
    color: #19647E;
    width: 32%;
  }
  
  .signup-btn:hover {
    background: #F4D35E;
    color: #1F271B;
    border-color: #F4D35E;
  }
  
  /* Forgot password link */
  .forgot-password {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    color: #28AFB0;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }